<div class="pa-container flex flex-wrap justify-around gap-4">
  <div
    class="pa p-4 basis-xs w-xs border-4 rounded-xl border-[#1A237E]"
    data-asin="B00H3UCEHW"
  >
    <a
      href="https://www.amazon.co.jp/dp/B00H3UCEHW?tag=takasumir-22&linkCode=ogi&th=1&psc=1"
      aria-label="GORIX(ゴリックス) 自転車用工具 インナーワイヤープライヤー GX-172 自転車 ワイヤー工具"
    >
      <img
        src="https://m.media-amazon.com/images/I/41Z+KgKsRrL._SL160_.jpg"
        width="160"
        height="160"
        class="mx-auto size-[160px] object-contain"
    /></a>
    <div class="text-base font-bold truncate mb-2">
      GORIX(ゴリックス) 自転車用工具 インナーワイヤープライヤー GX-172 自転車
      ワイヤー工具
    </div>
    <div class="text-center">
      <span class="price">￥2,600</span>
      <a
        class="inline-block rounded-full py-2 px-4 bg-[#1A237E] transition delay-150 duration-300 ease-in-out hover:-translate-y-1 hover:scale-110 hover:bg-indigo-500"
        href="https://www.amazon.co.jp/dp/B00H3UCEHW?tag=takasumir-22&linkCode=ogi&th=1&psc=1"
        >Amazonで見る</a
      >
    </div>
  </div>

  <div
    class="pa p-4 basis-xs w-xs border-4 rounded-xl border-[#1A237E]"
    data-asin="B08831PXD4"
  >
    <a
      href="https://www.amazon.co.jp/dp/B08831PXD4?tag=takasumir-22&linkCode=ogi&th=1&psc=1"
      aria-label="GORIX ゴリックス ワイヤーカッター 自転車工具 (GX-171) ケーブルカット・ロードバイク・クロスバイク他・ワイヤーカット工具・メンテナンス・ブラック"
    >
      <img
        src="https://m.media-amazon.com/images/I/31PtNyn4rLL._SL160_.jpg"
        width="160"
        height="142"
        class="mx-auto size-[160px] object-contain"
    /></a>
    <div class="text-base font-bold truncate mb-2">
      GORIX ゴリックス ワイヤーカッター 自転車工具 (GX-171)
      ケーブルカット・ロードバイク・クロスバイク他・ワイヤーカット工具・メンテナンス・ブラック
    </div>
    <div class="text-center">
      <span class="price">￥2,800</span>

      <a
        class="inline-block rounded-full py-2 px-4 bg-[#1A237E] transition delay-150 duration-300 ease-in-out hover:-translate-y-1 hover:scale-110 hover:bg-indigo-500"
        href="https://www.amazon.co.jp/dp/B08831PXD4?tag=takasumir-22&linkCode=ogi&th=1&psc=1"
        >Amazonで見る</a
      >
    </div>
  </div>
</div>
