baseURL = 'https://inmy40s.netlify.app/'
languageCode = 'ja-jp'
title = 'In my 40s'
theme = 'basic'
hasCJKLanguage = true
timeout = '120s'

[security]
  enableInlineShortcodes = true

[build]
  [build.buildStats]
    enable = true
  [[build.cachebusters]]
    source = 'layouts/.*'
    target = 'css'
  [[build.cachebusters]]
    source = 'assets/notwatching/hugo_stats\.json'
    target = 'css'
  [[build.cachebusters]]
    source = '(postcss|tailwind)\.config\.js'
    target = 'css'
[module]
  [[module.mounts]]
    source = 'assets'
    target = 'assets'
  [[module.mounts]]
    disableWatch = true
    source = 'hugo_stats.json'
    target = 'assets/notwatching/hugo_stats.json'
    
[menus]
  [[menus.main]]
    name = 'Home'
    pageRef = '/'
    weight = 10
  [[menus.main]]
    name = 'ちゃり'
    pageRef = '/bike'
    weight = 20
  [[menus.main]]
    name = '電子工作'
    pageRef = '/electronics'
    weight = 30
  [[menus.main]]
    name = 'そのた'
    pageRef = '/others'
    weight = 40

[markup]
  [markup.goldmark]
    [markup.goldmark.parser]
      wrapStandAloneImageWithinParagraph = false
      [markup.goldmark.parser.attribute]
        block = true
  [markup.highlight]
    style = 'base16-snazzy'

[Params]
description = "自転車の改造ネタ、大阪を中心としたポタリングコース紹介などを中心に、ライフハックなどの雑記も書いていきます。"

[related]
  includeNewer = true
  threshold = 80
  toLower = false
  [[related.indices]]
    applyFilter = false
    cardinalityThreshold = 0
    name = 'keywords'
    pattern = ''
    toLower = false
    type = 'basic'
    weight = 100
  [[related.indices]]
    applyFilter = false
    cardinalityThreshold = 0
    name = 'date'
    pattern = ''
    toLower = false
    type = 'basic'
    weight = 10
  [[related.indices]]
    applyFilter = false
    cardinalityThreshold = 0
    name = 'tags'
    pattern = ''
    toLower = false
    type = 'basic'
    weight = 80
  [[related.indices]]
    applyFilter = false
    cardinalityThreshold = 0
    name = 'categories'
    pattern = ''
    toLower = false
    type = 'basic'
    weight = 80
