<article
  class="my-4 bg-slate-50 md:p-3 rounded-lg shadow-md flex gap-4 h-36 md:h-42 overflow-hidden"
>
  {{- with .Resources.GetMatch (index .Params.images 0) }}
    {{- if eq .MediaType.SubType "svg" -}}
      <img
        class="h-36 w-36 object-cover rounded-lg flex-shrink-0"
        width="192"
        height="192"
        src="{{ .RelPermalink | safeURL }}"
        alt="featured image"
      />
    {{- else -}}
      {{- $small := .Fill "144x144 webp" -}}
      {{- $medium := .Fill "288x288 webp" -}}
      <img
        srcset="{{ $small.RelPermalink }} 144w, {{ $medium.RelPermalink }} 288w"
        src="{{ $small.RelPermalink }}"
        alt="featured image"
        class="h-36 w-36 object-cover rounded-lg flex-shrink-0"
        width="192"
        height="192"
      />
    {{- end -}}
  {{- end -}}
  <div class="flex-auto self-center">
    <h2 class="line-clamp-2 text-xl mb-2 tracking-tight font-bold">
      <a class="hover:text-blue-600" href="{{ $.RelPermalink }}"
        >{{ $.LinkTitle }}</a
      >
    </h2>
    <p class="line-clamp-2 md:line-clamp-3">
      {{/* <p class="line-clamp-3 sr-only md:not-sr-only md:overflow-hidden"> */}}
      {{ .Summary | plainify }}
    </p>
  </div>
</article>
